<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="Carrito()">
        <ion-icon slot="icon-only" ios="cart-outline" md="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize" style="font-family: 'Encode Sans Semi Expanded', sans-serif;">{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>