<app-header titulo="perfil"></app-header>

<ion-content>
  <img class="ImgPerfil" src="/assets/imgperfil.jpg" />
  <ion-list>
    <ion-item>
      <ion-label>
        Nombre 
      </ion-label>
      <ion-label class="ion-text-right">
        Jean Pierre Alvarez
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        E-mail 
      </ion-label>
      <ion-label class="ion-text-right">
        jean@gmail.com
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Celular 
      </ion-label>
      <ion-label class="ion-text-right">
        Sin asignar
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="ion-text-center" style="padding-bottom: 5px;">
    <ion-button>Editar</ion-button>
  </div>
</ion-content>
